body {
  background-image: url("../img/background.png");
  background-color: #000000; }
  body header h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  body .main .container .pure-u-1 {
    padding: 10px;
    width: auto;
    text-align: center; }
    body .main .container .pure-u-1 a.pure-button {
      margin: 0 auto;
      border-radius: 5px;
      background: #ca3c3c; }
    body .main .container .pure-u-1.page {
      width: 100%;
      text-align: left; }
      body .main .container .pure-u-1.page form {
        overflow: hidden;
        height: 400px; }
        body .main .container .pure-u-1.page form fieldset {
          float: left;
          position: absolute;
          display: none; }
          body .main .container .pure-u-1.page form fieldset.visible {
            display: block; }
