!!! 5
%html
  %head
    %title IQ test
    %link{"rel" => "stylesheet", "href" => "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "../css/all.css", "type" => "text/css"}
    %script{"src" => "js/jquery-2.0.3.min.js"}
    %script{"src" => "js/main.js"}
  %body
    %header
    .main
      .container.pure-g-r
        .pure-u-1.finish
          %p
            %br Congratulations on finishing this IQ test! We hope you enjoyed our brain puzzles and recommend us to your friends.
            %br Your IQ is: 128
            %br Standard Deviation: 15
            %br Percentile: 95.937%
            %br Rarity: 1/15560
          %a.pure-button.pure-button-home{:href => "index.html"}
            Back to home page
    %footer
      %p
