!!! 5
%html
  %head
    %title IQ test
    %link{"rel" => "stylesheet", "href" => "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "../css/all.css", "type" => "text/css"}
    %script{"src" => "js/jquery-2.0.3.min.js"}
    %script{"src" => "js/main.js"}
  %body
    %header
      %h1 Mensa certified IQ test
    .main
      .container.pure-g-r
        .pure-u-1
          %p
            Mensa is the organization accept only those who score in the 98th percentile on an IQ test.
            This is the high quality and accurate iq test which similar to mensa iq test.
            If you score higher than 132, you will have a great opportunity to become a member of mensa.
          %ul
            %li
              1. This test includes 60 questions and it is scored automatically after 40 minutes.
            %li
              2. Please DO NOT share or publish answers at any time with any other person.
            %li
              3. If you find two logical answers to one question you should choose the simplest answer.
            %li
              4. Wrong answers do not influence your result – so guess rather than omit a question!
            %li
              5. Good luck!
          %a.pure-button.pure-button-success{:href => "test.html"}
            Start test
    %footer
      %p
