!!! 5
%html
  %head
    %title Firefox OS
    %body
      .container
        %header
          %h1 Hello world
        .main
          %p
            content
        %footer
          %p
            footer