!!! 5
%html
  %head
    %title IQ test
    %link{"rel" => "stylesheet", "href" => "http://yui.yahooapis.com/pure/0.3.0/pure-min.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "../css/all.css", "type" => "text/css"}
  %body
    %header

    .main
      .container.pure-g-r
        .pure-u-1

    %footer
      %p
